EmpProfessional/SourceCode/Employee_Professional/Service Descriptors/Emp_Professional.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.EniqueSol.com/Abstract/V1/Emp_Professional/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Emp_Professional" targetNamespace="http://www.EniqueSol.com/Abstract/V1/Emp_Professional/" xmlns:xsd1="http://www.EniqueSol.org/Employee_Prof/V1" xmlns:xsd2="http://www.EniqueSol.org/WebFault">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.EniqueSol.com/Abstract/V1/Emp_Professional/">
      <xsd:element name="AddEmp_Prof">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddEmp_ProfResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddEmp_ProfFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="AddEmp_ProfFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.EniqueSol.org/Employee_Prof/V1"
    		schemaLocation="../../CommonInteface/Schemas/Employee_Prof.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.EniqueSol.org/WebFault"
    		schemaLocation="../../CommonInterface/Schemas/WebFault.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="AddEmp_ProfRequest">
    <wsdl:part element="xsd1:Employee_ProfReq" name="parameters" />
  </wsdl:message>
  <wsdl:message name="AddEmp_ProfResponse">
    <wsdl:part element="xsd1:Employee_ProfRes" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddEmp_ProfFault">
  	<wsdl:part name="parameters" element="xsd2:fault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Emp_Professional">
    <wsdl:operation name="AddEmp_Prof">
      <wsdl:input message="tns:AddEmp_ProfRequest"/>
      <wsdl:output message="tns:AddEmp_ProfResponse"/>
            <wsdl:fault name="fault" message="tns:AddEmp_ProfFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Emp_ProfessionalSOAP" type="tns:Emp_Professional">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddEmp_Prof">
      <soap:operation soapAction="http://www.EniqueSol.com/Abstract/V1/Emp_Professional/AddEmp_Prof"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Emp_Professional">
    <wsdl:port binding="tns:Emp_ProfessionalSOAP" name="Emp_ProfessionalSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
