EmpInsurence/SourceCode/CommonInterface/Service Descriptors/Emp_SalTitle.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://xmlns.example.com/20221101102002" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubProcessService" targetNamespace="http://xmlns.example.com/20221101102002" xmlns:xsd1="http://www.EniqueSol.org/Emp_SalTitle/V1" xmlns:xsd2="http://www.EniqueSol.org/WebFault">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/20221101102002">
      <xsd:element name="operationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="operationFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fault" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.EniqueSol.org/Emp_SalTitle/V1"
    		schemaLocation="../Schemas/Emp_SalTitle.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.EniqueSol.org/WebFault"
    		schemaLocation="../Schemas/WebFault.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="AddSalDetailsRequest">
    <wsdl:part element="xsd1:Emp_SalTitleReq" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddSalDetailsResponse">
    <wsdl:part element="xsd1:Emp_SalTitleRes" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddSalDetailsFault">
    <wsdl:part element="xsd2:fault" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EmpSalTitle">
    <wsdl:operation name="AddSalDetails">
      <wsdl:input message="tns:AddSalDetailsRequest" name="operationInput"/>
      <wsdl:output message="tns:AddSalDetailsResponse" name="operationOutput"/>
      <wsdl:fault message="tns:AddSalDetailsFault" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
